.product{
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 85vh;
   width: 80%;
   margin: 0 auto;
   max-width: 1200px;
   .product__img{
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem;
      img{
         margin-bottom: 1.5rem;
      }
   }
   .product__info{
      flex: 1;
      padding: 3rem;
      margin-bottom: 5rem;  
      .product__info--title{
         font-size: 2.5rem;
         font-weight: 700;
         margin-bottom: 1.5rem;
      }
      .product__info--description{
         font-size: 1rem;
         color: rgb(94, 94, 94);
         line-height: 1.5rem;
         margin-bottom: 1.5rem;
      }
      .product__info__boxprice--price{

         font-size: 1.8rem;
         font-weight: 700;
         margin: 0 1rem .3rem 0;
      }
      .product__info__buttons{
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-top: 3rem;
         width: 90%;
         .product__info_addcart{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: .65;
            padding: 1rem .5rem;
            background: #E89F71;
            border-radius: .8rem;
            box-shadow: 2px 20px 67px -22px #E89F71;
            &:hover, &:focus{
               opacity: .6;
            }
            a{
               display: flex;
               text-decoration: none;
               background: none;
               color: white;
               img{
                  filter: brightness(0) invert(1);
                  margin-right: 1rem;
               }
            }
         }
      }
   }
}