.container-card{
   position: relative;
   display: flex;
   flex-direction: column;
   width: 285px;
   height: 445px;
   color: #353535;
   margin: 10px 20px;
   &:hover .hover-card{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,0.6);
      .details-card{
         cursor: pointer;
         outline: none;
         border: none;
         background: white;
         color: #E89F71;
         padding: .8rem 3rem;
         text-decoration: none;
      }
      .reactions{
         display: flex;
         justify-content: space-around;
         color: white;
         width: 100%;
         margin-top: 1rem;
      }
   }
   img{
      height: 70%;
      width: 100%;
   }
   .box-text{
      padding: 10px;
      background-color: #F4F5F7;
      h3{
         font-family: 'Raleway', sans-serif;
         font-size: 25px;
         margin-bottom: 5px;
      }
      .description{
         color: #898989;
         font-size: 14px;
         margin-bottom: 5px;
      }
      .price{
         font-size: 18px;
         font-weight: 600;
      }
      span{
         display: flex;
         justify-content: flex-end;
         color: #898989;
         font-size: 14px;
      }
   }
   .hover-card{
      display: none;
   }
}