.modal{
   z-index: 999;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: none;
}

.modal.is-open{
   display: flex;
   .modal-container{
      position: absolute;
      top: 4.5rem;
      left: 14.9rem;
      padding: 1rem;
      background-color: #fff;
   }
}
