.container-hero{
   z-index: 100;
   position: absolute;
   top: 7rem;
   left: 100px;
   width: 450px;
   height: 500px;
   background: rgba(255,255,255,.9);
   padding: 50px;
   .herocontent{
      display: flex;
      flex-direction: column;
      h2{
         font-family: 'Raleway', sans-serif;
         font-size: 50px;
         color: #353535;
         margin-bottom: 20px;
      }
      p{
         color: #898989;
         margin-bottom: 40px;
         line-height: 30px;
      }
      button{
         cursor: pointer;
         width: 100%;
         padding: 20px;
         border: none;
         outline: none;
         color: white;
         background: #E89F71;
      }
   }
}