.container-nav{
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 100px 60px 100px;
    .container-menu{
        display: flex;
        align-items: center;
        h3{
            font-size: 30px;
            font-weight: 700;
            margin-right: 40px;
            a{
                text-decoration: none;
                color: black;
            }
        }
        ul{
            cursor: pointer;
            display: flex;
            font-size: 16px;
            font-weight: 300;
            list-style: none;
            li{
                display: flex;
                align-items: center;
                position: relative;
                a{
                    text-decoration: none;
                    color: black;
                }
                img{

                    height: .5rem;
                }
                ul.modal-active{
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    li{
                        margin: 0;
                        padding: .5rem 0;
                    }
                }
                .products {
                    width: 6rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .active{
                            transform: rotate(180deg);
                    }
                }
            }
            li:nth-child(2){
                margin: 0 40px;
            }
        }
    }
    .container-navbuttons{
        display: flex;
        img:nth-child(2){
            padding: 0 32px;
        }
    }
}