.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 100px 60px 100px;
    .container-menu{
        display: flex;
        align-items: center;
        h3{
            font-size: 30px;
            font-weight: 700;
            margin-right: 40px;
        }
        ul{
            display: flex;
            font-size: 16px;
            font-weight: 300;
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color: black;
                }
            }
            li:nth-child(2){
                margin: 0 40px;
            }
        }
    }
    .container-navbuttons{
        display: flex;
        img:nth-child(2){
            padding: 0 32px;
        }
    }
}