.product__info__count{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex: .32;
   padding: 1rem .5rem;
   background: #E89F71;
   border-radius: .8rem;
   color: white;
   button{
      cursor: pointer;
      outline: none;
      border: none;
      background: none;
      color: white;
      .minus{
         padding-bottom: .2rem;
      }
   }
}